#gameboard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

}

.square {
    height: 40px;
    width: 40px;
}

.beige {
    background-color: beige;
}
.brown{
    background-color: brown;

}